*{
    margin:0px;
    padding: 0px;
}
header{
    background-color: rgb(29, 2, 2);
    display: flex;
    justify-content: center;
    height:30%;
    width: 100%;
}

header h1{
    font-size: 50px;
    color:white;
}
main{
    height: 100%;
}

.btnPrincipal {
    display: flex;
    margin-top: 40px;
    margin-left: 95px;
    flex-wrap: wrap;
}
.btn{
    border: 0;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: pink;
}
.btn:hover {
    background-color: #d9a4ad;
}
body.dark-mode{
    background-color: #010103;
    color: rgb(25, 25, 25);
}
h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color:rgb(243, 201, 147);
}

#infoUsuario{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: 0; */
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
    border-radius: 5px;
}
main h2{
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
}
#registro{
    display: flex;
    justify-content: center;
}
#registro input{
    margin: 0px 2px;
    width: 400px;
    padding: 15px 15px;
    border-radius: 0px solid transparent;
}

#productos1{
    width: 90%;
    height: max-content;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.producto{
    width: 18%;
    height:400px;
    background-color:antiquewhite;
    margin:0px 5px;
    border-radius:10px;
    box-shadow: 9px 7px 5px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 9px 7px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 9px 7px 5px 0px rgba(0,0,0,0.11);
    transition: .3s;
}
.producto:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.producto img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tituloProducto{
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}
.precio{
    margin-left: 5px;
}
.comprar{
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    cursor: pointer;
}

.comprar:hover {
    color: white;
}
.comprar:active {
    background-color: orangered ;
}
.comprar p{
    margin-top: 5px;
}